
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap');

html, body {
    font-family: Inter, sans-serif !important;
}

.cardContainer {
    display: inline-block !important;
    margin: 1rem;
}

.bodyContainer {
    margin: 1rem;
}

.mainBody {
    margin: 2rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

::selection {
    color: black;
    background: #74ffe1; /* WebKit/Blink Browsers */
}
::-moz-selection {
    color: black;
    background: #74ffe1; /* Gecko Browsers */
}

.navContainer {
    display: flex;
}
.navLeft {
    display: flex;
    justify-content: flex-start;
    width: 50vw;
}

.navRight {
    display: flex;
    justify-content: flex-end;
    width: 50vw;
}

.navItem {
    display: inline-block;
    padding: 0.5rem;
    margin: 0 0.25rem;
    border-radius: 0.3rem;
}

.navItem a {
    color: #326eff;
    text-decoration: none;
}

.navItem:hover {

    background-color: #e2edff;
}

.navItem i {
    padding: 0 0.25rem;
}

a {
    color: #326eff;
    text-decoration: none;
    outline: none !important;
}

a:hover {
    color: #0b52fa;
    text-decoration: none;
}

i {
    font-size: medium;
}